@import url(default.css); 
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual {
    position: relative;
 }
 .visual::before  {
    content: "";
    position: absolute;
    width:25.1579em;/*em later*/
    height: 150%;/*em later*/
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #F3F3F3;
 }
 .visual h2 {
    display: none;
 }
 .visual .swiper ul li .inner {
    position: relative;
    display: flex;
    justify-content: center;
    height: 1000px;
    overflow: hidden;
 }
 .visual .swiper ul li .inner .photo {
   font-size: 0;
   line-height: 0;

 }
 .visual .swiper ul li.st01 .inner {
    align-items: flex-end;
 }
 .visual .swiper ul li.st02 .inner {
    align-items: center;
 }
 .visual .swiper ul li.st02 .inner .photo {
   margin-bottom: 110px;
 }

 .visual .swiper ul li .inner h3 {
    position: absolute;
    line-height: 1.1;
    font-size: 100px;
    font-family: "Meow Script", serif;
    right: calc(50% + 166px);
    top: 56%;
 }
 .visual .swiper ul li .inner br {
    display: none;
 }
 .visual .swiper ul li .inner p {
    position: absolute;
    font-size: 19px;
    font-weight: 300;
    left: calc(50% + 300px);
    top:60%;
 }
 
 
 @media screen and (max-width:1204px){

 }/*@mieda*/

 @media screen and (max-width:970px){
   /*h3만 가운데 위로 올리기*/
   .visual .swiper ul li .inner {
      flex-direction: column;
      text-align: center;
      justify-content: space-between;
   }
   .visual .swiper ul li.st01 .inner {
      align-items: center;
   }
   .visual .swiper ul li .inner h3 {
      position: relative;
      right: auto;
      top: auto;
   }
   .visual .swiper ul li .inner br {
      display: block;
   }
   .visual .swiper ul li .inner p {
      display: none;
  }
}/*@mieda*/
 @media screen and (max-width:768px){
   .visual .swiper ul li .inner h3 {
      font-size: 90px;
      margin: 66px 0 10px 0;
   }
   .visual::before  {
      width: 100%;/*em later*/
      left: 0;
      transform: translateX(0);
   }
   .visual .swiper ul li .inner {
      height: 920px;
   }
   .visual .swiper ul li.st01 .inner .photo img {
      width: 544px;
   }
   .visual .swiper ul li.st02 .inner .photo img {
      width: 544px;
   }
 }/*@mieda*/



 @media screen and (max-width:360px){

   .visual .swiper ul li .inner {
      height: 813px;
   }

   .visual .swiper ul li .inner h3 {
      font-size: 90px;
   }
   .visual .swiper ul li.st01 .inner .photo img {
      width: 435px;
   }
   .visual .swiper ul li.st02 .inner .photo img {
      width: 445px;
   }

 }/*@mieda*/
 


 .newitem {
    max-width: 1260px;/**/
    margin: 0 auto;
    padding: 240px 0 200px 0;
 }
 .tiem_tit {
    text-align: center;
    position: relative;
    padding: 0 0 104px 0;
 }
 .tiem_tit h2 {
    font-size: 48px;
    font-weight: 500;
    color: var(--main-color);
 }
 .tiem_tit h3 {
    position: absolute;
    top: -144px;
    right: 110px;
    font-size: 200px;
    font-family: "Meow Script", serif;
    color: rgba(74, 112, 113, 0.07);
 }
 .tiem_tit p {
    color: #1d1d1d;
    font-weight: 300;
 }
 .content_wrap {
    display: flex;
    gap: 6.842em;
}
.sidebar {
    width: 13.158em;/*em later*/
}

.category h3,
.filter h3{
    font-size: 26px;
    font-weight: 500;
}
.category ul {
   line-height: 1.6;
   margin: 36px 0 220px 0;
}
.category li:hover{
   color: var(--main-color);
   font-weight: 500;
}
.filter .price {
   margin: 35px 0 74px 0;
}
.filter h4 {
   margin-bottom: px;
}
.color_pick .colors {
   display: flex;
   gap: 0.7368em;
}
.color_pick .colors span {
   position: relative;
   height: 1.5789em;/*em later*/
   width: 1.5789em;
   border-radius: 50%;
}
.color_pick .colors span::after{
   content: "";
   position: absolute;
   left: 7.5px;
   top: 8px;
   width: 15px;
   height: 12px;
   transition: 0.5s;/**/
}
.color_pick .colors span.color:hover::after {
   transition-delay:1s;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: contain;
   background-image: url("data:image/svg+xml,%3Csvg width='15' height='12' viewBox='0 0 15 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.16906 9.09266L13.1458 0.356794C13.363 0.118931 13.6177 0 13.9099 0C14.2021 0 14.4569 0.118931 14.6742 0.356794C14.8914 0.594832 15 0.877153 15 1.20376C15 1.53036 14.8914 1.81269 14.6742 2.05072L5.93337 11.6432C5.71602 11.8811 5.46124 12 5.16906 12C4.87687 12 4.6221 11.8811 4.40475 11.6432L0.31698 7.16643C0.0997859 6.9284 -0.00579265 6.64608 0.000244941 6.31947C0.00628253 5.99287 0.117899 5.71054 0.335093 5.47251C0.552446 5.23464 0.810235 5.11571 1.10846 5.11571C1.40669 5.11571 1.66447 5.23464 1.88183 5.47251L5.16906 9.09266Z' fill='white'/%3E%3C/svg%3E%0A");
}
.product_list {
   display: flex;
   flex-wrap: wrap;
   gap: 25px;
}
.product_list .pro_txt {
   font-weight: 500;
   display: flex;
   padding: 5px 0 0 0;
   justify-content: space-between;
} 
.product_list .product .photo img {
   width: 294px;
   height: 367px;
   object-fit: cover;
   border-radius: 10px;
}
.product_list .btn_shop{
   font-size: 0;
   width: 100px;
   height: 28px;
}



 @media screen and (max-width:1204px){}/*@mieda*/
 @media screen and (max-width:768px){}/*@mieda*/
 @media screen and (max-width:360px){}/*@mieda*/