@import url(default.css); 
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.visual {
   position: relative;
}
.visual::before  {
   content: "";
   position: absolute;
   width: 478px;/*em later*/
   height: calc(100% + var(--header-h));/*em later*/
   left: 50%;
   bottom: 0;
   transform: translateX(-50%);
   background: url(../images/visual_bg.png) center center no-repeat;
}
.visual h2 {
   color: transparent;
}
.visual .swiper ul li .inner {
   position: relative;
   display: flex;
   justify-content: center;
   height: 1000px;
}
.visual .swiper ul li.st01 .inner {
   align-items: flex-end;
}
.visual .swiper ul li.st02 .inner {
   align-items: center;
}
.visual .swiper ul li.st02 .inner .photo {
   position: absolute;
   bottom: 18px;
}
.visual .swiper ul li .inner h3 {
   position: absolute;
   line-height: 110%;
   font-size: 100px;
   font-family: "Meow Script", serif;
   right: calc(50% + 166px);
   top: 52%;
   display: flex;
   justify-content: flex-end;
}
.visual .swiper ul li .inner br {
   display: none;
}
.visual .swiper ul li .inner p {
   position: absolute;
   font-size: 19px;
   font-weight: 300;
   left: calc(50% + 300px);
   top:60%;
}


@media screen and (max-width:1204px){
   .visual .swiper ul li .inner {
      position: relative;
      display: flex;
      justify-content: center;
      height: 1000px;
   }
   .visual .swiper ul li.st01 .inner {
      align-items: flex-end;
   }
   .visual .swiper ul li.st02 .inner {
      align-items: center;
   }
   .visual .swiper ul li .inner h3 {
      right: calc(50% + 181px);
      top: 55%;
   }
   .visual .swiper ul li .inner h3 br {
      display: block;
   }
   .visual .swiper ul li .inner p {
      display: none;
   }
}/*@mieda*/
@media screen and (max-width:768px){}/*@mieda*/
@media screen and (max-width:360px){}/*@mieda*/



@media screen and (max-width:1204px){}/*@mieda*/
@media screen and (max-width:768px){}/*@mieda*/
@media screen and (max-width:360px){}/*@mieda*/