@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* wrap 를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100; /* 제일 높은값이 위로 올라감 */
    color: #fff;
    width: 100%; /* header에 absolute를 주면 무조건 width:100% */
    height: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center; /* 위아래 가운데 */
    padding: 0 20px; /* 좌우여백 */
}
header .logo {
    margin: 5px 0 0 0;
}
header .gnb .gnb_open,
header .gnb .gnb_close {
    display: none; /* 모바일에서만 나옴 */
}
header .gnb .gnb_wrap ul {
    display: flex;
}
header .gnb .gnb_wrap ul li a {
    font-family: 'eulyoo';
    font-size: 22px;
    line-height: 100px; /* header 높이만큼 */
    padding: 0 25px;
}

.visual {
    overflow: hidden; 
    /* 높이가 낮으면 글자가 영역 밖으로 나갈 수도 있어서 */
    height: 100vh;
    /* 모바일에서 네이버처럼 하단에 자신의 툴바가 나오면 내가 생각하는 100vh와 다름 */
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    color: #fff;
    position: relative; /* scroll 정렬의 기준 */
}
.visual .wrapper {
    padding: 60vh 0 0 0;
}
.visual .inner {
    /* h2와 p 전체의 콘텐츠의 높이를 암 
       콘텐츠 높이의 절반을 위로 이동 */
    transform: translateY(-50%);
}
.visual h2 {
    font-family: 'eulyoo';
    font-size: 100px;
    font-weight: 800;
    letter-spacing: -0.07em; /* -7% */
    line-height: 1;
    margin: 0 0 14px 0;

    position: relative; /* span태그 정렬의 기준 */
}
header .tnb {
    display: flex;
    gap: 6px;
}
header .tnb .mypage,
header .tnb .search {
    font-size: 0;
    line-height: 0;
    width: 30px;
    height: 30px;
    position: relative;
}
header .tnb .mypage::before,
header .tnb .search::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 13.641C12.8771 13.641 11.9158 13.2413 11.1163 12.4417C10.3165 11.6419 9.91667 10.6806 9.91667 9.5577C9.91667 8.43478 10.3165 7.47355 11.1163 6.67399C11.9158 5.87424 12.8771 5.47437 14 5.47437C15.1229 5.47437 16.0842 5.87424 16.8837 6.67399C17.6835 7.47355 18.0833 8.43478 18.0833 9.5577C18.0833 10.6806 17.6835 11.6419 16.8837 12.4417C16.0842 13.2413 15.1229 13.641 14 13.641ZM5.25 20.7533V19.932C5.25 19.3607 5.40517 18.8316 5.7155 18.3447C6.02583 17.8579 6.44058 17.4835 6.95975 17.2218C8.11281 16.6566 9.27607 16.2326 10.4495 15.9499C11.623 15.6671 12.8065 15.5258 14 15.5258C15.1935 15.5258 16.377 15.6671 17.5505 15.9499C18.7239 16.2326 19.8872 16.6566 21.0403 17.2218C21.5594 17.4835 21.9742 17.8579 22.2845 18.3447C22.5948 18.8316 22.75 19.3607 22.75 19.932V20.7533C22.75 21.2453 22.5776 21.6637 22.2329 22.0087C21.8881 22.3534 21.4697 22.5258 20.9775 22.5258H7.02246C6.53032 22.5258 6.11187 22.3534 5.76712 22.0087C5.42237 21.6637 5.25 21.2453 5.25 20.7533ZM7 20.7758H21V19.932C21 19.6957 20.9316 19.477 20.7947 19.2757C20.6578 19.0747 20.472 18.9106 20.2373 18.7834C19.232 18.2884 18.2071 17.9133 17.1625 17.6582C16.1178 17.4032 15.0636 17.2758 14 17.2758C12.9364 17.2758 11.8822 17.4032 10.8375 17.6582C9.7929 17.9133 8.76799 18.2884 7.76271 18.7834C7.52801 18.9106 7.34222 19.0747 7.20533 19.2757C7.06844 19.477 7 19.6957 7 19.932V20.7758ZM14 11.891C14.6417 11.891 15.191 11.6626 15.6479 11.2056C16.1049 10.7487 16.3333 10.1994 16.3333 9.5577C16.3333 8.91603 16.1049 8.36673 15.6479 7.90978C15.191 7.45284 14.6417 7.22437 14 7.22437C13.3583 7.22437 12.809 7.45284 12.3521 7.90978C11.8951 8.36673 11.6667 8.91603 11.6667 9.5577C11.6667 10.1994 11.8951 10.7487 12.3521 11.2056C12.809 11.6626 13.3583 11.891 14 11.891Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 28px;
}
header .tnb .search::before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51955 15.6153C7.81188 15.6153 6.36571 15.023 5.18105 13.8385C3.99655 12.6538 3.4043 11.2077 3.4043 9.50002C3.4043 7.79235 3.99655 6.34618 5.18105 5.16152C6.36571 3.97702 7.81188 3.38477 9.51955 3.38477C11.2272 3.38477 12.6734 3.97702 13.858 5.16152C15.0425 6.34618 15.6348 7.79235 15.6348 9.50002C15.6348 10.2142 15.515 10.8963 15.2753 11.5463C15.0355 12.1963 14.7155 12.7616 14.3155 13.2423L20.0695 18.9963C20.208 19.1346 20.2789 19.3086 20.282 19.5183C20.2852 19.7279 20.2144 19.9052 20.0695 20.05C19.9247 20.1948 19.749 20.2673 19.5425 20.2673C19.3362 20.2673 19.1606 20.1948 19.0158 20.05L13.2618 14.296C12.7618 14.7088 12.1868 15.0319 11.5368 15.2653C10.8868 15.4986 10.2144 15.6153 9.51955 15.6153ZM9.51955 14.1155C10.808 14.1155 11.8994 13.6683 12.7935 12.774C13.6879 11.8798 14.135 10.7885 14.135 9.50002C14.135 8.21152 13.6879 7.12018 12.7935 6.22601C11.8994 5.33168 10.808 4.88452 9.51955 4.88452C8.23105 4.88452 7.13971 5.33168 6.24555 6.22601C5.35121 7.12018 4.90405 8.21152 4.90405 9.50002C4.90405 10.7885 5.35121 11.8798 6.24555 12.774C7.13971 13.6683 8.23105 14.1155 9.51955 14.1155Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: 24px;
}
@media screen and (max-width:640px){ 
                header {
                    height: 56px;
                    border-bottom: 0;

                    padding: 0 0 0 20px; /* 좌우여백 */
                }
                header .logo {
                    margin: 10px 0 0 0;
                }
                header .logo a img {
                    width: 133px;/* img는 넓이만 줘도 높이는 비율에 맞게 알아서 들어감 */
                }
                header .gnb .gnb_open {
                    display: block; /* 모바일에서만 나옴 */
                    width: 60px;
                    height: 56px;
                    font-size: 0;/*헤더의높이*/
                    line-height: 0;
                    position: relative;/**/
            
                }
                header .gnb .gnb_open::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M4 20C3.71667 20 3.47917 19.9042 3.2875 19.7125C3.09583 19.5208 3 19.2833 3 19C3 18.7167 3.09583 18.4792 3.2875 18.2875C3.47917 18.0958 3.71667 18 4 18H20C20.2833 18 20.5208 18.0958 20.7125 18.2875C20.9042 18.4792 21 18.7167 21 19C21 19.2833 20.9042 19.5208 20.7125 19.7125C20.5208 19.9042 20.2833 20 20 20H4ZM4 14C3.71667 14 3.47917 13.9042 3.2875 13.7125C3.09583 13.5208 3 13.2833 3 13C3 12.7167 3.09583 12.4792 3.2875 12.2875C3.47917 12.0958 3.71667 12 4 12H20C20.2833 12 20.5208 12.0958 20.7125 12.2875C20.9042 12.4792 21 12.7167 21 13C21 13.2833 20.9042 13.5208 20.7125 13.7125C20.5208 13.9042 20.2833 14 20 14H4ZM4 8C3.71667 8 3.47917 7.90417 3.2875 7.7125C3.09583 7.52083 3 7.28333 3 7C3 6.71667 3.09583 6.47917 3.2875 6.2875C3.47917 6.09583 3.71667 6 4 6H20C20.2833 6 20.5208 6.09583 20.7125 6.2875C20.9042 6.47917 21 6.71667 21 7C21 7.28333 20.9042 7.52083 20.7125 7.7125C20.5208 7.90417 20.2833 8 20 8H4Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 24px;
                }
                header .gnb .gnb_wrap  {
                    display: none;/*숨김*/
                }

                .visual {
                    overflow: hidden; 
                    /* 높이가 낮으면 글자가 영역 밖으로 나갈 수도 있어서 */
                    height: 100vh;
                    /* 모바일에서 네이버처럼 하단에 자신의 툴바가 나오면 내가 생각하는 100vh와 다름 */
                    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
                    color: #fff;
                    position: relative; /* scroll 정렬의 기준 */
                }
                .visual .wrapper {
                    padding: 60vh 0 0 0;
                }
                .visual .inner {
                    /* h2와 p 전체의 콘텐츠의 높이를 암 
                    콘텐츠 높이의 절반을 위로 이동 */
                    transform: translateY(-50%);
                }
                .visual h2 {
                    font-family: 'eulyoo';
                    font-size: 100px;
                    font-weight: 800;
                    letter-spacing: -0.07em; /* -7% */
                    line-height: 1;
                    margin: 0 0 14px 0;
                
                    position: relative; /* span태그 정렬의 기준 */
                }
                header .tnb {
                    display: none;
                    gap: 6px;
                }
                header .tnb .mypage,
                header .tnb .search {
                    font-size: 0;
                    line-height: 0;
                    width: 30px;
                    height: 30px;
                    position: relative;
                }
                header .tnb .mypage::before,
                header .tnb .search::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 13.641C12.8771 13.641 11.9158 13.2413 11.1163 12.4417C10.3165 11.6419 9.91667 10.6806 9.91667 9.5577C9.91667 8.43478 10.3165 7.47355 11.1163 6.67399C11.9158 5.87424 12.8771 5.47437 14 5.47437C15.1229 5.47437 16.0842 5.87424 16.8837 6.67399C17.6835 7.47355 18.0833 8.43478 18.0833 9.5577C18.0833 10.6806 17.6835 11.6419 16.8837 12.4417C16.0842 13.2413 15.1229 13.641 14 13.641ZM5.25 20.7533V19.932C5.25 19.3607 5.40517 18.8316 5.7155 18.3447C6.02583 17.8579 6.44058 17.4835 6.95975 17.2218C8.11281 16.6566 9.27607 16.2326 10.4495 15.9499C11.623 15.6671 12.8065 15.5258 14 15.5258C15.1935 15.5258 16.377 15.6671 17.5505 15.9499C18.7239 16.2326 19.8872 16.6566 21.0403 17.2218C21.5594 17.4835 21.9742 17.8579 22.2845 18.3447C22.5948 18.8316 22.75 19.3607 22.75 19.932V20.7533C22.75 21.2453 22.5776 21.6637 22.2329 22.0087C21.8881 22.3534 21.4697 22.5258 20.9775 22.5258H7.02246C6.53032 22.5258 6.11187 22.3534 5.76712 22.0087C5.42237 21.6637 5.25 21.2453 5.25 20.7533ZM7 20.7758H21V19.932C21 19.6957 20.9316 19.477 20.7947 19.2757C20.6578 19.0747 20.472 18.9106 20.2373 18.7834C19.232 18.2884 18.2071 17.9133 17.1625 17.6582C16.1178 17.4032 15.0636 17.2758 14 17.2758C12.9364 17.2758 11.8822 17.4032 10.8375 17.6582C9.7929 17.9133 8.76799 18.2884 7.76271 18.7834C7.52801 18.9106 7.34222 19.0747 7.20533 19.2757C7.06844 19.477 7 19.6957 7 19.932V20.7758ZM14 11.891C14.6417 11.891 15.191 11.6626 15.6479 11.2056C16.1049 10.7487 16.3333 10.1994 16.3333 9.5577C16.3333 8.91603 16.1049 8.36673 15.6479 7.90978C15.191 7.45284 14.6417 7.22437 14 7.22437C13.3583 7.22437 12.809 7.45284 12.3521 7.90978C11.8951 8.36673 11.6667 8.91603 11.6667 9.5577C11.6667 10.1994 11.8951 10.7487 12.3521 11.2056C12.809 11.6626 13.3583 11.891 14 11.891Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: 28px;
                }
                header .tnb .search::before {
                    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.51955 15.6153C7.81188 15.6153 6.36571 15.023 5.18105 13.8385C3.99655 12.6538 3.4043 11.2077 3.4043 9.50002C3.4043 7.79235 3.99655 6.34618 5.18105 5.16152C6.36571 3.97702 7.81188 3.38477 9.51955 3.38477C11.2272 3.38477 12.6734 3.97702 13.858 5.16152C15.0425 6.34618 15.6348 7.79235 15.6348 9.50002C15.6348 10.2142 15.515 10.8963 15.2753 11.5463C15.0355 12.1963 14.7155 12.7616 14.3155 13.2423L20.0695 18.9963C20.208 19.1346 20.2789 19.3086 20.282 19.5183C20.2852 19.7279 20.2144 19.9052 20.0695 20.05C19.9247 20.1948 19.749 20.2673 19.5425 20.2673C19.3362 20.2673 19.1606 20.1948 19.0158 20.05L13.2618 14.296C12.7618 14.7088 12.1868 15.0319 11.5368 15.2653C10.8868 15.4986 10.2144 15.6153 9.51955 15.6153ZM9.51955 14.1155C10.808 14.1155 11.8994 13.6683 12.7935 12.774C13.6879 11.8798 14.135 10.7885 14.135 9.50002C14.135 8.21152 13.6879 7.12018 12.7935 6.22601C11.8994 5.33168 10.808 4.88452 9.51955 4.88452C8.23105 4.88452 7.13971 5.33168 6.24555 6.22601C5.35121 7.12018 4.90405 8.21152 4.90405 9.50002C4.90405 10.7885 5.35121 11.8798 6.24555 12.774C7.13971 13.6683 8.23105 14.1155 9.51955 14.1155Z' fill='white'/%3E%3C/svg%3E%0A");
                    background-size: 24px;
                }

}/*media*/
.visual {
    height: 100dvh;
}
.visual .wrapper {
    padding: 60dvh 0 0 0;
}
.visual h2 span {
    font-size: 200px;
    font-weight: 400;
    letter-spacing: -0.1em; /* -10% */
    color: rgba(255, 255, 255, 0.1);
    position: absolute; /* h2를 기준으로 정렬 */
    left: 115px;
    top: -72px;
}
.visual p {
    font-size: 20px;
}
.visual .scroll {
    position: absolute; /* visual를 기준으로 정렬, after 정렬의 기준 */
    left: 50%;
    transform: translateX(-50%);
    bottom: 39px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 13px;
}
.visual .scroll::after {
    content: "";
    position: absolute; /* scroll을 기준으로 정렬 */
    left: 50%;
    transform: translateX(-50%);
    bottom: -15px;
    width: 15px;
    height: 15px;
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.5 9.49167L12.3222 4.66963C12.4143 4.57745 12.525 4.53198 12.6544 4.53323C12.7839 4.53437 12.8946 4.58104 12.9867 4.67323C13.0789 4.76531 13.125 4.87609 13.125 5.00557C13.125 5.13495 13.0789 5.24573 12.9867 5.33792L8.21031 10.1107C8.10938 10.2117 7.99682 10.2854 7.87266 10.3318C7.74839 10.3783 7.62417 10.4015 7.5 10.4015C7.37583 10.4015 7.25161 10.3783 7.12734 10.3318C7.00318 10.2854 6.89062 10.2117 6.78969 10.1107L2.01328 5.33417C1.92109 5.24208 1.87562 5.13193 1.87687 5.0037C1.87802 4.87547 1.92469 4.76531 2.01688 4.67323C2.10896 4.58104 2.21974 4.53495 2.34922 4.53495C2.47859 4.53495 2.58937 4.58104 2.68156 4.67323L7.5 9.49167Z' fill='white' fill-opacity='0.8'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    animation-name: scroll_move;
    animation-duration: 2s; /* 3초동안 한번 */
    animation-iteration-count: infinite; /* 반복횟수 - 무한 */
    animation-timing-function: linear; /* 가속도 삭제 */
}
@keyframes scroll_move {
    0% { bottom: -15px; }
    50% { bottom: -25px; }
    100% { bottom: -15px; }
}
@media screen and (max-width:640px){
                .visual .wrapper {
                    padding: 55dvh 0 0 0;
                }
                .visual h2 {
                    font-size: 40px;
                    margin: 0 0 9px 0;
                }
                .visual h2 span {
                    font-size: 50px;
                    left: 49px;
                    top: -20px;
                }
                .visual p {
                    font-size: 15px;
                }
                .visual p br {
                    display: none; /* 줄바꿈 안함 */
                }
                .visual .scroll {
                    bottom: 32px;
                    font-size: 12px;
                }
                .visual .scroll::after {
                    bottom: -12px;
                
                    animation-name: scroll_move2;
                }
                @keyframes scroll_move2 {
                    0% { bottom: -12px; }
                    50% { bottom: -20px; }
                    100% { bottom: -12px; }
                }
}/* media */

.book {
    margin: 139px 0 0 0;
}
.book .inner {
    display: flex;
    justify-content: space-between;
    width: 1717px;
    /*플렉스의 저주: flsx는 내부요소가 크면 무조건 찌그러트림
    넓이를 유지하려면 flex를 준 요소에 넓이를 고정값으로 줘야함*/
    position: relative;
    left: calc(50% - 630px);
}
.book .tit h2 {
    margin: 10px 0 10px 0;
    font-family: 'eulyoo';
    font-size: 45px;
    line-height: 1.2;
}
.book .list {
    /* margin-left: 321px; */

}
.book .list ul {
    display: flex; /* 잠시만 */
    gap: 24px;
}
.book .list ul li {
    width: 260px;
    /*pc , 모바일 모두 브라우저의 넓이에따라서 책의 갯수만 바뀜, 넓이는 안바뀜 그러므로 고정*/
}
.book .list ul li a {
    display: block;
}
.book .list ul li a .photo {
    font-size: 0;
    line-height: 0;/*이미지 하단에 여백 삭제 */
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
}
.book .list ul li a .photo img {
    width: 100%;
}
.book .list ul li a h3 {
    padding: 24px 0 4px 0;
    font-size: 22px;
    font-family: 'eulyoo';
    color: #1d1d1d;

    /*1즐제한*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; /*...*/
}
.book .list ul li a h3 span {
    position: relative;
}
.book .list ul li a h3 span:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 1px;
    background-color: #1d1d1d;
    transition: 0.5s;
}
.book .list ul li a:hover h3 span:after {
    width: 100%;
}
.book .more {
    position: absolute;/*inner를 기준으로 정렬*/
    left: 0;
    top: 225PX;
}
.book .more a {
    display: block;
    color: #796254;
    padding: 13px 103px 11px 27px;
    background-color: #F4EFE9;
    border-radius: 60px;
    position: relative; 
}
.book .more a::after {
   position: absolute;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='%23796254' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 6px;
    top: 17px;
    right: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.book .more a:hover {
    color:#F4EFE9;
    background-color: #796254;
}
.book .more a:hover::after {
     background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
     animation-name: more_ani;
     animation-timing-function: linear;/*가속도없음*/
     animation-duration: 2s;/*1회당 실행시간*/
     animation-iteration-count: infinite;/*무한반복*/
 }
 /*화살표가 좌우로 움직이는 애니메이션*/
 @keyframes more_ani {
    0%{right: 25px;}
    50%{right: 17px;}
    100%{right: 25px;}
   
}
@media screen and (max-width:640px){
                    .book {
                        margin: 79px 0 0 0;
                    }
                    .book .inner {
                        display: block;
                        width: auto;/*100% 쓰지마세요 (마진없을떄 제외)*/
                        left: auto;/*원래 안들어간것처럼*/
                        margin: 0 0 0 20px /*왼쪽에만*/
                    }
                    .book .tit h2 {
                        margin: 73px 0 10px 0;
                        font-size: 35px;
                    }
                    .book .tit h2 br {
                        display: none;/*줄바꿈을 삭제*/
                    }
                    .book .tit h2 p {
                        display: none;
                    }
                    .book .list {
                        margin: 20px 0 0 0;
                        overflow-x: auto;/*x는 좌,우 , 좌우면 내부 컨텐츠의 길이가 나보다 더 길면 
                        콘텐츠를 좌우스크롤한다*/
                        /* margin-left: 321px; */
                    }
                    .book .list ul {
                        gap: 16px;
                        width: 984px;
                        /*180 * 5 = 900
                        16* (5-1) = 64  
                        900+ 64 = 964 + 20(맨끝 여백) */
                    }
                    .book .list ul li {
                        width: 180px;
                        /*pc , 모바일 모두 브라우저의 넓이에따라서 책의 갯수만 바뀜, 넓이는 안바뀜 그러므로 고정*/
                    }
                    .book .list ul li a {
                        display: block;
                    }
                    .book .list ul li a .photo {
                        font-size: 0;
                        line-height: 0;/*이미지 하단에 여백 삭제 */
                        overflow: hidden;
                        border-radius: 5px;
                        box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
                    }
                    .book .list ul li a .photo img {
                        width: 100%;
                    }
                    .book .list ul li a h3 {
                        padding: 13px 0 5px 0;
                        font-size: 20px;

                        /*1줄 제한*/
                        overflow: hidden;
                        white-space: normal;
                    }
                    .book .list ul li a h3 span {
                        position: relative;
                    }
                    .book .list ul li a h3 span:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        bottom: -4px;
                        width: 0;
                        height: 1px;
                        background-color: #1d1d1d;
                        transition: 0.5s;
                    }
                    .book .list ul li a:hover h3 span:after {
                        width: 100%;
                    }
                    .book .more {
                        left: auto;
                        right: 20px;/*left:0;으로 변경시 
                        반드시 left:auto;로 바꿔주고 right를 줘야함.*/
                        top: 3px;
                    }
                    .book .more a {
                        font-size: 0;
                        line-height: 0;
                        width: 37px;
                        height: 37px;
                        padding: 0;/*0으로 꼭*/
                        border-radius: 60px;
                    }
                    .book .more a::after {
                        display: none;/*없애버렷*/
                    }
                    .book .more a::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9993C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2612 6.04792 12.3567 6.14375C12.4522 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8563 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2612 17.8563 12.3567C17.7604 12.4522 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8563C12.26 17.9521 12.1411 18 11.9993 18C11.8574 18 11.7388 17.9521 11.6433 17.8563C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%23796254'/%3E%3C/svg%3E ");
                        content: "";
                        position: absolute;/*more기준*/
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 24px;
                    }
                    .book .more a:hover::before {
                        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.5 12.5H6.5C6.35833 12.5 6.23958 12.452 6.14375 12.356C6.04792 12.26 6 12.1411 6 11.9993C6 11.8574 6.04792 11.7388 6.14375 11.6433C6.23958 11.5478 6.35833 11.5 6.5 11.5H11.5V6.5C11.5 6.35833 11.548 6.23958 11.644 6.14375C11.74 6.04792 11.8589 6 12.0008 6C12.1426 6 12.2612 6.04792 12.3567 6.14375C12.4522 6.23958 12.5 6.35833 12.5 6.5V11.5H17.5C17.6417 11.5 17.7604 11.548 17.8563 11.644C17.9521 11.74 18 11.8589 18 12.0008C18 12.1426 17.9521 12.2612 17.8563 12.3567C17.7604 12.4522 17.6417 12.5 17.5 12.5H12.5V17.5C12.5 17.6417 12.452 17.7604 12.356 17.8563C12.26 17.9521 12.1411 18 11.9993 18C11.8574 18 11.7388 17.9521 11.6433 17.8563C11.5478 17.7604 11.5 17.6417 11.5 17.5V12.5Z' fill='%23F4EFE9'/%3E%3C/svg%3E%0A");
                    }
                    .book .more a:hover  {
                        color:#F4EFE9;
                        background-color: #796254;
                    }
                    .book .more a:hover::after {
                        background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                        animation-name: more_ani;
                        animation-timing-function: linear;/*가속도없음*/
                        animation-duration: 2s;/*1회당 실행시간*/
                        animation-iteration-count: infinite;/*무한반복*/
                    }
}/*@MIDEA*/
.interview {
    padding: 119px 0 149px 0;
    margin: 104px 0 0 0;
    background-color: rgba(244, 239, 233, 0.7);
}
.interview .tit {
    text-align: center;
}
.interview .tit h2 {
    margin: 119px 0 9px 0;
    font-family: 'eulyoo';
    font-size: 45px;
    line-height: 1.2;
}
.interview .list {
    margin: 55px 0 0 0;
}
.interview .list ul {
    display: flex;
    justify-content: space-between;
}
.interview .list ul li {
    width: 404px;
}
.interview .list ul li:nth-child(2) {
    margin: 46px 0 0 0;
}
.interview .list ul li a {
    display: block;
    position: relative;/*inner정렬의기준*/
}
.interview .list ul li a .photo {
    overflow: hidden;
    height: 428px;
    border-radius: 50px 0 50px 0;
    position: relative;/*befroe정렬의 기준*/
}
.interview .list ul li a .photo::before {
    content: "";
    position: absolute;/*photo기준*/
    left: 0;
    top: 0;
    z-index: 1;/**/
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}
.interview .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(100%);
    transition: 0.5s;
}
.interview .list ul li:nth-child(2) a .photo {
    border-radius: 0 50px 0 50px;    
}
.interview .list ul li a .photo img:hover {
    filter: grayscale(0%);
}
.interview .list ul li a .inner {
    position: absolute; /*a를 기준으로*/ 
    left: 35px;
    z-index: ;
    bottom: 29px;
    width: calc(100% - 70px);
    /*전체를 꽉채우는 넓이 100%에서 왼쪽여백과 오른쪽 여백을 뺌*/
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* transition: background-color: 0.5s;*/
    /*배경색만 자연스럽게...*/

}
.interview .list ul li a .inner h3 {
    /* margin: 10px 0 10px 0; */
    font-family: 'eulyoo';
    font-size: 30px;
    line-height: 1.2;
}
.interview .list ul li a .inner p {
    display: none;
}
.interview .list ul li a .inner span {
    height: 60px; /* 아이콘크기 */ 
    width: 60px;
    font-size: 0;/* 글자안보이게 */
    line-height: 0;
    position: relative;/*before정렬의 기준*/
}
.interview .list ul li a .inner span::before {
    position: absolute;
    content: ""; /*제발 까먹지마 제바아아알*/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='61' viewBox='0 0 60 61' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M29.125 31.8574H16.625C16.3771 31.8574 16.1692 31.7733 16.0012 31.6049C15.8337 31.437 15.75 31.2287 15.75 30.9799C15.75 30.7316 15.8337 30.5241 16.0012 30.3574C16.1692 30.1908 16.3771 30.1074 16.625 30.1074H29.125V17.6074C29.125 17.3595 29.2092 17.1518 29.3775 16.9843C29.5454 16.8164 29.7538 16.7324 30.0025 16.7324C30.2508 16.7324 30.4583 16.8164 30.625 16.9843C30.7917 17.1518 30.875 17.3595 30.875 17.6074V30.1074H43.375C43.6229 30.1074 43.8306 30.1916 43.9981 30.3599C44.166 30.5278 44.25 30.7362 44.25 30.9849C44.25 31.2333 44.166 31.4408 43.9981 31.6074C43.8306 31.7741 43.6229 31.8574 43.375 31.8574H30.875V44.3574C30.875 44.6053 30.7908 44.8133 30.6225 44.9812C30.4546 45.1487 30.2462 45.2324 29.9975 45.2324C29.7492 45.2324 29.5417 45.1487 29.375 44.9812C29.2083 44.8133 29.125 44.6053 29.125 44.3574V31.8574Z' fill='white'/%3E%3C/svg%3E%0A");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


/**************************a 오버스타일*******************************/
/********브라우저 넓이 641 이상에서만 적용"(min-width)"*********/
@media screen and (min-width:641px){ 
                .interview .list ul li a:hover .photo::before {
                    display: none;/* 숨김 */
                }
                .interview .list ul li a:hover .photo img {
                    filter: grayscale(0%);
                    transition: 0.5s;
                }
                .interview .list ul li:nth-child(2)a:hover .photo {
                    border-radius: 0 50px 0 50px;    
                }
                .interview .list ul li a:hover .photo img:hover {
                    filter: grayscale(0%);
                }
                .interview .list ul li a:hover .inner {
                    position: absolute; /*a를 기준으로*/ 
                    left: 0;
                    bottom: -65px;
                    width: calc(100% - 35px);
                    /*전체를 꽉채우는 넓이 100%에서 왼쪽여백과 오른쪽 여백을 뺌*/
                    color: #fff;
                    display: block;
                    background-color: #796254;
                    padding: 40px 32px 28px 32px;
                    border-radius: 40px 0 40px 0;
                }
                .interview .list ul li:nth-child(2) a:hover .inner{
                    border-radius: 0 40px 0 40px ;
                }


                .interview .list ul li a:hover .inner h3 {
                    font-size: 25px;
                    font-weight: 800;
                    line-height: 1.2;
                }
                .interview .list ul li a:hover .inner h3 br {
                    display: none;/*줄바꿈*/
                }
                .interview .list ul li a:hover .inner p {
                    display: block;/*나타남*/
                    margin: 10px 0 36px 0;

                    /*두줄제한*/
                    line-height: 1.4;/* 행간 */
                    height: 2.8em;/* 행간 x amount of lines = 단위는 em */
                    overflow: hidden; /*영역밖의 글씨 ㅂㅂ */
                }
                .interview .list ul li a:hover .inner span {
                    height: auto; /* 아이콘크기 */ 
                    width: auto;
                    font-size: 15px;/* 글자안보이게 */
                    line-height: 1.4;
                    color: rgba(255, 255, 255, 0.8);
                    position: relative;/*before정렬의 기준*/
                    display: block;
                    /*span태그가 가진 넓이를 안에서 오른쪽으로 글자를 보내려면
                    span태그가 black요소이거나 넓이가 없으면 적용 x*/
                    text-align: right;
                    padding: 0 28px 0 0 ;
                }
                .interview .list ul li a:hover .inner span::before {
                    top: 0;
                    left :auto;
                    /*left:0에서 right 0으로 변경 하려면 반드시 left:auto;*/
                    right: 0;
                    width: 19px;
                    height: 19px;
                }
}/*@msdia*/


@media screen and (max-width:640px){ 
                .interview {
                    padding: 76px 0 58px 0;
                    margin: 104px 0 0 0;
                }
                .interview .tit {
                    text-align: left;
                }
                .interview .tit h2 {
                    margin: 0;/*없으면0 */
                    font-size: 35px;
                }
                .interview .tit p {
                    display: none;
                }
                .interview .list {
                    margin: 20px 0 0 0;
                }
                .interview .list ul {
                    display: block;/*flex해제*/

                }
                .interview .list ul li {
                    width: auto;
                }
                .interview .list ul li:nth-child(2), 
                .interview .list ul li:nth-child(3) {
                    display: none;
                }
                .interview .list ul li a {
                    display: block;
                    position: relative;/*inner정렬의기준*/
                }
                .interview .list ul li a .photo {
                    overflow: hidden;
                    height: 295px;
                    border-radius: 10px;
                }
                .interview .list ul li a .photo::before {
                    display: none;/* 숨김 */
                }
                .interview .list ul li a .photo img {
                    filter: grayscale(0);
                }

                .interview .list ul li a .inner {
                    position: relative;
                    /*position: absolute; 해제*/ 
                    left: auto;
                    bottom: auto;
                    width: calc(100% - 70px);
                    color: #796254;
                    display: block;/*flex해제*/
                    justify-content: space-between;
                    align-items: center;
                    margin: 18px 0 0 0;
                /* transition: background-color: 0.5s;*/
                    /*배경색만 자연스럽게...*/
                }
                .interview .list ul li a .inner h3 br {
                    display: none;
                }
                .interview .list ul li a .inner h3 {
                    /* margin: 10px 0 10px 0; */
                    font-family: 'eulyoo';
                    font-size: 30px;
                    line-height: 1.2;
                }
                .interview .list ul li a .inner p {
                    margin: 13px 0 0 0;
                    display: block;/*보임*/
                    /*최대 3줄제한*/
                    line-height: 1.4;
                    max-height: 4.2em;
                    overflow: hidden;                    
                }
                .interview .list ul li a .inner span {
                    height: 39px; /* 아이콘크기 */ 
                    width: 39px;
                    font-size: 0;/* 글자안보이게 */
                    line-height: 0;
                    position: absolute;
                    right: -50px;
                    top: 0;
                }
                .interview .list ul li a .inner span::before {

                    background-image: url("data:image/svg+xml,%3Csvg width='39' height='39' viewBox='0 0 39 39' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9311 20.0686H10.8061C10.6449 20.0686 10.5098 20.0138 10.4006 19.9044C10.2917 19.7953 10.2373 19.6599 10.2373 19.4982C10.2373 19.3368 10.2917 19.2019 10.4006 19.0936C10.5098 18.9852 10.6449 18.9311 10.8061 18.9311H18.9311V10.8061C18.9311 10.6449 18.9858 10.5099 19.0952 10.401C19.2043 10.2919 19.3397 10.2373 19.5014 10.2373C19.6628 10.2373 19.7977 10.2919 19.9061 10.401C20.0144 10.5099 20.0686 10.6449 20.0686 10.8061V18.9311H28.1936C28.3547 18.9311 28.4897 18.9858 28.5986 19.0952C28.7077 19.2043 28.7623 19.3397 28.7623 19.5014C28.7623 19.6628 28.7077 19.7977 28.5986 19.9061C28.4897 20.0144 28.3547 20.0686 28.1936 20.0686H20.0686V28.1936C20.0686 28.3547 20.0138 28.4898 19.9044 28.599C19.7953 28.7079 19.6599 28.7623 19.4982 28.7623C19.3368 28.7623 19.2019 28.7079 19.0936 28.599C18.9852 28.4898 18.9311 28.3547 18.9311 28.1936V20.0686Z' fill='%23796254'/%3E%3C/svg%3E%0A");

                }
    
}/*media*/  


.story {
    margin: 137px 0 0 0;
}
.story .wrapper {
    position: relative;/*more의 정렬의기준*/
}
.story .tit h2 {
    font-family: 'eulyoo';
    font-size: 45px;
    line-height: 1.2;
}
.story .tit p {
    display: none;
    width: auto;
}
.story .list {
    margin: 22px 0 0 0;
}
.story {
    margin: 139px 0 0 0;
}

.story .tit h2 {
    margin: 10px 0 10px 0;
    font-family: 'eulyoo';
    font-size: 45px;
    line-height: 1.2;
}
.story .list {
   margin: 22px 0 0 0;
}
.story .list ul {
    display: flex;
    gap: 24px;
    /* li의 사이즈297 x li 갯수 5 = 1485 
    li사이여백 24 x li 갯수 - 1 4 = 96
    1485+96 = 1581*/
}
.story .list ul li {
    width: 297px;
}
.story .list ul li a {
    display: block;
}
.story .list ul li a .photo {
    overflow: hidden;
    height: 292px;
}
.story .list ul li.long a .photo{
    height: 412px;
}
.story .list ul li a .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}
.story .list ul li a:hover .photo img {
    transform: scale(1.2)

}
.story .list ul li a .inner strong {
    color: #796254;
    margin: 18px 0 9px 0;
    display: block;/*마진때문에*/
}
.story .list ul li a .inner h3 {
    font-family: 'eulyoo';
    font-size: 22px;
    line-height: 1.2;
    margin: 0 0 13px 0;
    /*2줄제한*/
    line-height: 1.2;
    height: 2.4em;/*행간x줄수 = 단위는 em*/
    overflow: hidden;
}
.story .list ul li a .inner p {
    /*7줄 제한*/
    line-height: 1.4;
    height: 9.8em;/* 행간 x 줄수 = 단위 em */
    overflow: hidden;
}
.story .list ul li.long a .inner p {
    height: 2.8em;
}
.story .more {
    position: absolute;/*inner를 기준으로 정렬*/
    right: 0;
    top: 2px;
}
.story .more a {
    display: block;
    color: #796254;
    padding: 13px 103px 11px 27px;
    background-color: #F4EFE9;
    border-radius: 60px;
    position: relative; 
}
.story .more a::after {
   position: absolute;
    content: "";
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='%23796254' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    width: 24px;
    height: 6px;
    top: 17px;
    right: 25px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.story .more a:hover {
    color:#F4EFE9;
    background-color: #796254;
}
.story .more a:hover::after {
     background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
     animation-name: more_ani;
     animation-timing-function: linear;/*가속도없음*/
     animation-duration: 2s;/*1회당 실행시간*/
     animation-iteration-count: infinite;/*무한반복*/
}

@media screen and (max-width:640px){
                .story {
                    margin: 63px 0 0 0;
                }
                .story .tit h2 {
                    font-size: 35px;
                }
                .story .tit p {
                    display: none;
                    width: auto;
                }
                .story .list {
                    margin: 22px 0 0 0;
                }
                .story {
                    margin: 139px 0 0 0;
                }
                .story .list {
                margin: 20px 0 0 0;
                }
                .story .list ul {
                    display: block;/*flex해제*/
                    width: auto;
                }
                .story .list ul li {
                    width: auto;
                    border-bottom: 1px solid #EEEEEE;
                }
                .story .list ul li:nth-child(4),
                .story .list ul li:nth-child(5) {
                    display: none;
                }
                .story .list ul li a {
                    display: block;
                    flex-direction: row-reverse;/*좌우 순서변경*/
                    padding: 13px 0 17px 0;
                }
                .story .list ul li a .photo {
                    overflow: hidden;
                    height: 99px;
                }
                .story .list ul li:first-child {
                    border-top: 1px solid #EEEEEE;
                }
                .story .list ul li.long a .photo{
                    height: 99px;
                }


                .story .list ul li a .inner strong {
                    color: #796254;
                    margin: 18px 0 9px 0;
                    display: block;/*마진때문에*/
                }
                .story .list ul li a .inner h3 {
                    font-family: 'eulyoo';
                    font-size: 22px;
                    line-height: 1.2;
                    margin: 0 0 13px 0;
                    /*2줄제한*/
                    line-height: 1.2;
                    height: 2.4em;/*행간x줄수 = 단위는 em*/
                    overflow: hidden;
                }
                .story .list ul li a .inner p {
                    /*7줄 제한*/
                    line-height: 1.4;
                    height: 9.8em;/* 행간 x 줄수 = 단위 em */
                    overflow: hidden;
                }
                .story .list ul li.long a .inner p {
                    height: 2.8em;
                }
                .story .more {
                    position: absolute;/*inner를 기준으로 정렬*/
                    right: 0;
                    top: 2px;
                }
                .story .more a {
                    display: block;
                    color: #796254;
                    padding: 13px 103px 11px 27px;
                    background-color: #F4EFE9;
                    border-radius: 60px;
                    position: relative; 
                }
                .story .more a::after {
                position: absolute;
                    content: "";
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='%23796254' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    width: 24px;
                    height: 6px;
                    top: 17px;
                    right: 25px;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: contain;
                }
                .story .more a:hover {
                    color:#F4EFE9;
                    background-color: #796254;
                }
                .story .more a:hover::after {
                    background-image: url("data:image/svg+xml,%3Csvg width='26' height='8' viewBox='0 0 26 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 7H25L18.5 1' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
                    animation-name: more_ani;
                    animation-timing-function: linear;/*가속도없음*/
                    animation-duration: 2s;/*1회당 실행시간*/
                    animation-iteration-count: infinite;/*무한반복*/
                }
                
}/*media*/
footer {
    margin-top: 500px;
}