@import url(default.css); 
@import url(font.css);
@import url(common.css);
@import url(layout.css);


.visual {
   display: flex; /* Flexbox 활성화 */
   justify-content: center; /* 가로 중앙 */
   position: relative;
   align-items: center; /* 세로 중앙 */
 }

 .visual .visual_bg {
   background-position: center center;
   background-repeat: no-repeat;
   background-color: #242959;
   height: 100%;
   width: 100%;
   display: block;
   margin-top: 6.964em;
   padding: 5px 25px 680px 25px;
   border-radius: 40px 40px 40px 40px;
 }
 .visual .visual_bg .title {
   margin: 100px 0 0 0;
 }

.visual .visual_txt h2 {
   position: absolute;
   left: 70px;
   bottom: 25px;
   z-index: 10;
   line-height: 120%;
   display: block;
   color: #fff;
   font-size: 56px;
}
.visual .visual_txt strong {
   font-weight: 600;
   background-color: #4F598B;
   padding: 1px;
}
.visual .visual_txt a {
   position: absolute;
   display: block;
   z-index: 2;
   border-radius: 50px;
   background-color: #FDD4C0;
   width: 282px;
   height: 62px;
   right: 300px;
   bottom: 37px;
}
.visual .visual_txt a::after {
   content: "";
   position: absolute;
   display: block;
   z-index: 2;
   border-radius: 50px;
   background-color: #FDD4C0;
   width: 62px;
   height: 62px;
   right: -80px;
   bottom: 0;
   background-image: url("data:image/svg+xml,%3Csvg width='39' height='34' viewBox='0 0 39 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4901 33.9426C18.8867 33.9426 18.3048 33.8343 17.7441 33.6176C17.1835 33.4009 16.6724 33.0799 16.2109 32.6545L12.6947 29.4377C9.8122 26.7898 7.12698 24.0639 4.63908 21.2599C2.15118 18.456 0.907227 15.2467 0.907227 11.6322C0.907227 8.56772 1.94433 6.00565 4.01853 3.94596C6.09273 1.88628 8.65537 0.856445 11.7065 0.856445C13.3661 0.856445 14.8617 1.18117 16.1934 1.83062C17.5248 2.47979 18.6236 3.18476 19.4901 3.94554C20.3567 3.18476 21.4558 2.47979 22.7871 1.83062C24.1185 1.18117 25.614 0.856445 27.2736 0.856445C30.3273 0.856445 32.8956 1.88628 34.9787 3.94596C37.062 6.00565 38.1036 8.56772 38.1036 11.6322C38.1036 15.2467 36.8545 18.4577 34.3564 21.265C31.8582 24.0724 29.1753 26.7892 26.3076 29.4155L22.7816 32.663C22.3192 33.0901 21.8058 33.4102 21.2415 33.6231C20.6775 33.8361 20.0937 33.9426 19.4901 33.9426ZM17.3546 9.07609C16.8638 8.23673 16.1305 7.46257 15.1547 6.75361C14.1793 6.04465 13.0388 5.69017 11.7334 5.69017C10.0179 5.69017 8.59031 6.24937 7.45057 7.36776C6.31083 8.48615 5.74096 9.9109 5.74096 11.642C5.74096 13.153 6.26826 14.7392 7.32287 16.4006C8.37777 18.0619 9.64364 19.6884 11.1205 21.28C12.5974 22.8713 14.1165 24.3499 15.6779 25.7157C17.239 27.0815 18.5098 28.2126 19.4901 29.1089C20.4729 28.2046 21.7466 27.0684 23.3112 25.7003C24.8757 24.3319 26.3963 22.8558 27.8728 21.2719C29.3491 19.688 30.6177 18.0646 31.6786 16.4019C32.7395 14.7391 33.2699 13.1506 33.2699 11.6365C33.2699 9.90904 32.6962 8.48615 31.5487 7.36776C30.401 6.24937 28.9707 5.69017 27.2578 5.69017C25.9464 5.69017 24.7971 6.04465 23.81 6.75361C22.8229 7.46257 22.0981 8.23673 21.6357 9.07609C21.3991 9.4747 21.0913 9.78078 20.7124 9.99432C20.3331 10.2079 19.9318 10.3146 19.5084 10.3146C19.0896 10.3146 18.6918 10.2079 18.3151 9.99432C17.9382 9.78078 17.618 9.4747 17.3546 9.07609Z' fill='%23242959'/%3E%3C/svg%3E%0A");
   background-position: center;
   background-repeat: no-repeat;
}
.visual .visual_txt a::before {
   content: "";

}
.visual .visual_txt a span {
   position: absolute;
   color: #242959;
   font-size: 26px;
   font-weight: 700;
   right: 38px;
   bottom: 13px;
}
.visual .swiper {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 123px;
   right: 2px;
}
 .visual .visual_bg .title {
    position: absolute;
    font-family: 'dosis';
    font-weight: 600;
    font-size: 110px;
    color: #4F598B;
    left: 95px;
    top: 20px;
 }
 .visual .visual_txt {
   position: absolute;
   width: 100%;
   height: 100%;
   bottom: 15px;
   left: 90px;
 }