@import url(default.css); /* default.css를 이 문서에 복사해서 넣은 것처럼 불러오기 */
@import url(font.css);
@import url(common.css);

header {
    position: absolute; /* body를 기준으로 정렬 */
    left: 0;
    top: 0;
    z-index: 100;
    /* header는 무조건 맨위에 있어야 하기 때문에 
       제일 높은 숫자 100을 줌 - 하단 콘텐츠는 100이하의 값을 줌 */
    width: 100%; 
    /* block에 absolute를 줘도 넓이가 없음(100%안됨)
       내부 요소 만큼만 늘어남 */
    height: 100px;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin-top: 33px;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    font-size: 23px;
    font-weight: 800;
    color: #fff;
    padding: 37px 25px 30px 25px;
}

.visual {
    background: url(../images/visual_bg.jpg) no-repeat center center / cover;
    border-bottom-right-radius: 190px;
}
.visual .wrapper {
    height: 100vh;
    /* 브라우저의 콘텐츠 높이 100vh로 보는 상대값 */
    /* pic는 wrapper를 기준으로 오른쪽 하단에 absolute로 배치
      단 visual에 height가 있는 상태에서는 wrapper는 콘텐츠가 
      존재하는 만큼만 높이가 잡힘
      그래서 wrapper에 높이를 주고 visual은 그 높이만큼 들어가게하면
      편함. */
    position: relative; /* pic 정렬의 기준 */
}
.visual h2 {
    padding-top: calc(50vh - 179px);
    /* 50vh - 179px을 빼야함, 단위가 안맞음 
        이렇게 단위가 다른 수치를 계산할때 쓰는 식이
        calc()임 단, 반드시 - + 앞뒤로는 여백을 줘야함
        단위를 써야함. */
    text-align: center;
}
.visual .pic {
    position: absolute; /* wrapper를 기준으로 정렬, a::before 정렬의 중심 */
    right: -96px;
    bottom: -94px;
}
.visual .pic a {
    display: block;
    width: 188px;
    height: 188px;
    border-radius: 50%; /* 동그라미는 무조건 50% */
    background-color: #006DBB;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding-top: 98px;
    line-height: 1.2;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.15);
}
.visual .pic a::before {
    content: "";
    position: absolute; /* pic를 기준으로 정렬 */
    top: 47px;
    left: 50%;
    transform: translateX(-50%); /* 좌우에 가운데 */
    width: 40px; /* 아이콘 사이즈 */
    height: 40px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; /* 아이콘 안짤리고 사이즈에 딱 맞게 나오기 */
}
.visual .pic a:hover {
    color: #60E3D5;
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.25);
}
.visual .pic a:hover::before {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.00033 35.0003C4.08366 35.0003 3.29894 34.6739 2.64616 34.0212C1.99338 33.3684 1.66699 32.5837 1.66699 31.667V11.667C1.66699 10.7503 1.99338 9.9656 2.64616 9.31283C3.29894 8.66005 4.08366 8.33366 5.00033 8.33366H10.2503L12.3337 6.08366C12.6392 5.75033 13.0073 5.48644 13.4378 5.29199C13.8684 5.09755 14.3198 5.00033 14.792 5.00033H21.667C22.1392 5.00033 22.535 5.16005 22.8545 5.47949C23.1739 5.79894 23.3337 6.19477 23.3337 6.66699C23.3337 7.13921 23.1739 7.53505 22.8545 7.85449C22.535 8.17394 22.1392 8.33366 21.667 8.33366H14.792L11.7503 11.667H5.00033V31.667H31.667V18.3337C31.667 17.8614 31.8267 17.4656 32.1462 17.1462C32.4656 16.8267 32.8614 16.667 33.3337 16.667C33.8059 16.667 34.2017 16.8267 34.5212 17.1462C34.8406 17.4656 35.0003 17.8614 35.0003 18.3337V31.667C35.0003 32.5837 34.6739 33.3684 34.0212 34.0212C33.3684 34.6739 32.5837 35.0003 31.667 35.0003H5.00033ZM31.667 8.33366H30.0003C29.5281 8.33366 29.1323 8.17394 28.8128 7.85449C28.4934 7.53505 28.3337 7.13921 28.3337 6.66699C28.3337 6.19477 28.4934 5.79894 28.8128 5.47949C29.1323 5.16005 29.5281 5.00033 30.0003 5.00033H31.667V3.33366C31.667 2.86144 31.8267 2.4656 32.1462 2.14616C32.4656 1.82671 32.8614 1.66699 33.3337 1.66699C33.8059 1.66699 34.2017 1.82671 34.5212 2.14616C34.8406 2.4656 35.0003 2.86144 35.0003 3.33366V5.00033H36.667C37.1392 5.00033 37.535 5.16005 37.8545 5.47949C38.1739 5.79894 38.3337 6.19477 38.3337 6.66699C38.3337 7.13921 38.1739 7.53505 37.8545 7.85449C37.535 8.17394 37.1392 8.33366 36.667 8.33366H35.0003V10.0003C35.0003 10.4725 34.8406 10.8684 34.5212 11.1878C34.2017 11.5073 33.8059 11.667 33.3337 11.667C32.8614 11.667 32.4656 11.5073 32.1462 11.1878C31.8267 10.8684 31.667 10.4725 31.667 10.0003V8.33366ZM18.3337 29.167C20.417 29.167 22.1878 28.4378 23.6462 26.9795C25.1045 25.5212 25.8337 23.7503 25.8337 21.667C25.8337 19.5837 25.1045 17.8128 23.6462 16.3545C22.1878 14.8962 20.417 14.167 18.3337 14.167C16.2503 14.167 14.4795 14.8962 13.0212 16.3545C11.5628 17.8128 10.8337 19.5837 10.8337 21.667C10.8337 23.7503 11.5628 25.5212 13.0212 26.9795C14.4795 28.4378 16.2503 29.167 18.3337 29.167ZM18.3337 25.8337C17.167 25.8337 16.1809 25.4309 15.3753 24.6253C14.5698 23.8198 14.167 22.8337 14.167 21.667C14.167 20.5003 14.5698 19.5142 15.3753 18.7087C16.1809 17.9031 17.167 17.5003 18.3337 17.5003C19.5003 17.5003 20.4864 17.9031 21.292 18.7087C22.0975 19.5142 22.5003 20.5003 22.5003 21.667C22.5003 22.8337 22.0975 23.8198 21.292 24.6253C20.4864 25.4309 19.5003 25.8337 18.3337 25.8337Z' fill='%2360E3D5'/%3E%3C/svg%3E%0A");
}

.culture {
    margin: 170px 0 0 0;
}
.culture .wrapper {
    position: relative; /* more의 정렬의 기준 */
}
.culture .tit h2 {
    margin-bottom: 12px;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.culture .list {
    margin: 43px 0 0 0;
}
.culture .list ul {
    display: flex;
    justify-content: space-between;
}
.culture .list ul li {
    width: 404px;
}
.culture .list ul li a {
    display: block;
}
.culture .list ul li a .photo {
    overflow: hidden; /* photo 영역 밖에 나가는 이미지 숨김 */
    font-size: 0;
    line-height: 0;
}
.culture .list ul li a .photo img {
    transition: 0.5s; /* 만약에 속성이 변경된다면 1초동안 자연스럽게 변경 */
}
.culture .list ul li a:hover .photo img {
    transform: scale3d(1.2, 1.2, 1);
}
.culture .list ul li a h3 {
    margin: 33px 0 13px 0;
    color: #1d1d1d;
    font-size: 25px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.culture .list ul li a span {
    position: relative; /* before/after 정렬의 기준 */
    display: inline-block;
    padding-right: 28px; 
    /* 글자의 오른쪽에 아이콘이 들어가면 그 아이콘이 들어갈 영역까지 
       padding으로 늘려놓음 */
    margin: 13px 0 0 0;
    color: #8E8E8E;
    font-size: 15px;
}
.culture .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 21px; /* 아이콘 크기 */
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.025 10.5002L7.61245 7.0877C7.45203 6.92728 7.37183 6.72311 7.37183 6.4752C7.37183 6.22728 7.45203 6.02311 7.61245 5.8627C7.77287 5.70228 7.97703 5.62207 8.22495 5.62207C8.47287 5.62207 8.67703 5.70228 8.83745 5.8627L12.8625 9.8877C12.95 9.9752 13.0119 10.07 13.0484 10.1721C13.0848 10.2742 13.1031 10.3835 13.1031 10.5002C13.1031 10.6169 13.0848 10.7262 13.0484 10.8283C13.0119 10.9304 12.95 11.0252 12.8625 11.1127L8.83745 15.1377C8.67703 15.2981 8.47287 15.3783 8.22495 15.3783C7.97703 15.3783 7.77287 15.2981 7.61245 15.1377C7.45203 14.9773 7.37183 14.7731 7.37183 14.5252C7.37183 14.2773 7.45203 14.0731 7.61245 13.9127L11.025 10.5002Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.culture .more {
    position: absolute; 
    /* wrapper를 기준으로 정렬, a::after 정렬의 기준 */
    right: 0;
    top: 80px;
}
.culture .more a {
    display: block;
    padding: 5px 27px 5px 5px;
    color: #8E8E8E;
}
.culture .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 5px;
    width: 21px; /* 아이콘의 넓이 */
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 1s; 
}
.culture .more a:hover {
    color: #006DBB;
}
.culture .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23006DBB'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}

.tour {
    padding: 122px 0 113px 0;
    margin-top: 94px;
    background-color: #F7F7F7;
}
.tour .wrapper {
    position: relative; /* more 정렬의 기준 */
}
.tour .tit h2 {
    margin-bottom: 12px;
    color: #1d1d1d;
    font-size: 40px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;
}
.tour .list {
    margin: 43px 0 0 0;
}
.tour .list ul {
    display: flex;
    justify-content: space-between;
}
.tour .list ul li {
    width: 190px;
}
.tour .list ul li.on {
    width: 654px;
}
.tour .list ul li a {
    display: block;
    height: 354px; 
    /* li와 a 높이를 동일하게 주기 위해서 */
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;

    /* 오버되지 않은 li의 스타일 */
    text-align: center;
    padding: 260px 0 0 0;
}
.tour .list ul li.on a { /* 오버한 li의 스타일 */
    padding: 218px 0 0 36px;
    text-align: left;
}
.tour .list ul li.list1 a {
    background-image: url(../images/tour_bg1.jpg);
}
.tour .list ul li.list2 a {
    background-image: url(../images/tour_bg2.jpg);
}
.tour .list ul li.list3 a {
    background-image: url(../images/tour_bg3.jpg);
}
.tour .list ul li.list4 a {
    background-image: url(../images/tour_bg4.jpg);
}
/* 오버되지 않은 li의 스타일 */
.tour .list ul li a h3 {
    font-size: 20px;
    font-weight: 800;
    line-height: 1.2;
    letter-spacing: -0.02em;

    margin-bottom: 13px; 
    /* p와의 여백 - 오버했을때만 적용될 스타일이지만
       지금줘도 문제는 되지 않음, 그럼 미리 스타일 주는게 좋음 */
}
.tour .list ul li.on a h3 {
    font-size: 25px;
}
.tour .list ul li a p {
    display: none; /* 숨겨졌다가 오버하면 나타남 */
}
.tour .list ul li.on a p {
    display: block; 
    /* none으로 숨김요소는 dispaly에 다른 아무값이나 줘도 나타남 */
}
.tour .list ul li a span {
    /* 오버했을때만 나타날 요소이지만 미리 스타일 주고 
       보이고 안보이고 상태만 변경 */
    /* display: inline-block; */
    display: none; /* 숨겨졌다가 오버하면 나타남 */
    padding-right: 26px;
    margin: 13px 0 0 0;
    font-size: 15px;
    position: relative; /* after 정렬의 기준 */
}
.tour .list ul li.on a span {
    display: inline-block;
    /* none으로 숨김요소는 dispaly에 다른 아무값이나 줘도 나타남 */
}
.tour .list ul li a span::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    width: 21px;
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 21 21' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.0242 10.5002L7.61172 7.0877C7.4513 6.92728 7.37109 6.72311 7.37109 6.4752C7.37109 6.22728 7.4513 6.02311 7.61172 5.8627C7.77214 5.70228 7.9763 5.62207 8.22422 5.62207C8.47214 5.62207 8.6763 5.70228 8.83672 5.8627L12.8617 9.8877C12.9492 9.9752 13.0112 10.07 13.0477 10.1721C13.0841 10.2742 13.1023 10.3835 13.1023 10.5002C13.1023 10.6169 13.0841 10.7262 13.0477 10.8283C13.0112 10.9304 12.9492 11.0252 12.8617 11.1127L8.83672 15.1377C8.6763 15.2981 8.47214 15.3783 8.22422 15.3783C7.9763 15.3783 7.77214 15.2981 7.61172 15.1377C7.4513 14.9773 7.37109 14.7731 7.37109 14.5252C7.37109 14.2773 7.4513 14.0731 7.61172 13.9127L11.0242 10.5002Z' fill='white'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.tour .more {
    position: absolute; 
    /* wrapper를 기준으로 정렬, a::after 정렬의 기준 */
    right: 0;
    top: 80px;
}
.tour .more a {
    display: block;
    padding: 5px 27px 5px 5px;
    color: #8E8E8E;
}
.tour .more a::after {
    content: "";
    position: absolute; /* more를 기준으로 정렬 */
    right: 0;
    top: 5px;
    width: 21px; /* 아이콘의 넓이 */
    height: 21px;
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23B8B8B8'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transition: transform 1s; 
}
.tour .more a:hover {
    color: #006DBB;
}
.tour .more a:hover::after {
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.16669 10.8337H5.00002C4.76391 10.8337 4.56599 10.7538 4.40627 10.5941C4.24655 10.4344 4.16669 10.2364 4.16669 10.0003C4.16669 9.76421 4.24655 9.5663 4.40627 9.40658C4.56599 9.24685 4.76391 9.16699 5.00002 9.16699H9.16669V5.00033C9.16669 4.76421 9.24655 4.5663 9.40627 4.40658C9.56599 4.24685 9.76391 4.16699 10 4.16699C10.2361 4.16699 10.434 4.24685 10.5938 4.40658C10.7535 4.5663 10.8334 4.76421 10.8334 5.00033V9.16699H15C15.2361 9.16699 15.434 9.24685 15.5938 9.40658C15.7535 9.5663 15.8334 9.76421 15.8334 10.0003C15.8334 10.2364 15.7535 10.4344 15.5938 10.5941C15.434 10.7538 15.2361 10.8337 15 10.8337H10.8334V15.0003C10.8334 15.2364 10.7535 15.4344 10.5938 15.5941C10.434 15.7538 10.2361 15.8337 10 15.8337C9.76391 15.8337 9.56599 15.7538 9.40627 15.5941C9.24655 15.4344 9.16669 15.2364 9.16669 15.0003V10.8337Z' fill='%23006DBB'/%3E%3C/svg%3E%0A");
    transform: rotate(180deg);
}

#wrap {
    padding-bottom: 500px;
}