@import url(default.css);
<<<<<<< HEAD
@import url(font.css);
body {
    font-family: "Pretendard", sans-serif;
=======
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
>>>>>>> 65598b1d9118f373c9e805a5cadfdc0a53f7577d
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
<<<<<<< HEAD
    letter-spacing: 0; /*글자크기 하나가 1em임*/
=======
    letter-spacing: -0.05em; /*글자크기 하나가 1em임*/
>>>>>>> 65598b1d9118f373c9e805a5cadfdc0a53f7577d
    word-break: keep-all; /*단어(여백을기준으로)별로 줄바꾸기*/
    word-wrap: break-word;
    /*단어가 너무 길어서 줄바꿈이 안될때 강제로 줄바꿈
      word-break: keep-all로 생기는 오류 수정,생긴지 얼마 안된 기능이라 일부 적용안됨  */
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1300px;
    margin: 0 auto;
    /*브라우저의 최소 넓이를 지정
     - 작은 브라우저에서 가로 스크롤이 생기면 배경이 짤려서
     wrapper에서 지정한 width에 좌우 여백 20xp씩 준 값
     1260 + 40 = 1300*/
}