@import url(default.css);/*<-여기서 그대로 불러오세요(소환)*/
@import url(fonts.css);
@import url(common.css);

header {
    position: absolute;/*body를 기준으로 원래 넓이값을 갖지 않음,inlineblock처럼*/
    left: 0;
    top: 0;
    z-index: 100;
    /*z-index 맨위에 있을거에요, postion속성을 가진 요서는 서로 위아래의 순서가 생기는데,
        header를 맨 위로 올리기위해서 100을 준 것이다*/
    width: 100%;
    height: 100px;
    color: #ffff;
}
header .wrapper {
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 10px 0 0 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul li a {
    display: block;
    justify-content: space-between;
    line-height: 100px;
    /*메뉴가 정확한 높이를 갖고 위아래 가운데 정렬이 됨*/
    font-weight: 500;
    font-size: 17PX;
    font-family: 'Gmarket Sans';
    padding: 00 30PX 0 30PX 0;
}
header .tnb {
    display: flex;
    margin: 38px 0 0 0;
    
}
header .tnb .mypage {
    display: block;
    width: 26px;
    height: 26px;
    margin-right: 33px;
    font-size: 0;/*글자 지우고 아이콘으로 대체*/
    min-height: 0;
    position: relative; /*before의 기준*/
}
header .tnb .mypage a::before {
    content: "";
    position: absolute;/*a를 기준으로*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.12116 18.9041C7.18644 18.1398 8.28178 17.5485 9.40718 17.1302C10.5328 16.7118 11.7305 16.5026 13.0003 16.5026C14.2702 16.5026 15.4709 16.7118 16.6024 17.1302C17.734 17.5485 18.8324 18.1398 19.8976 18.9041C20.6379 18.0073 21.178 17.0714 21.518 16.0964C21.858 15.1214 22.028 14.0893 22.028 13C22.028 10.4541 21.1599 8.31301 19.4237 6.57661C17.6873 4.84038 15.5462 3.97227 13.0003 3.97227C10.4545 3.97227 8.31337 4.84038 6.57697 6.57661C4.84075 8.31301 3.97264 10.4541 3.97264 13C3.97264 14.0893 4.14561 15.1214 4.49155 16.0964C4.83768 17.0714 5.38088 18.0073 6.12116 18.9041ZM12.9971 13.9026C11.9461 13.9026 11.0609 13.542 10.3416 12.8207C9.6224 12.0992 9.26283 11.2129 9.26283 10.1619C9.26283 9.11088 9.62358 8.2258 10.3451 7.50665C11.0664 6.78731 11.9526 6.42765 13.0036 6.42765C14.0546 6.42765 14.9398 6.7884 15.6591 7.5099C16.3783 8.2314 16.7378 9.11765 16.7378 10.1687C16.7378 11.2197 16.3771 12.1048 15.6556 12.8239C14.9343 13.5431 14.0481 13.9026 12.9971 13.9026ZM13.0087 23.8333C11.5166 23.8333 10.1115 23.5489 8.79347 22.9802C7.47542 22.4114 6.32582 21.6366 5.34468 20.6556C4.36372 19.6745 3.58887 18.5263 3.02012 17.2111C2.45137 15.896 2.16699 14.4906 2.16699 12.9951C2.16699 11.4997 2.45137 10.096 3.02012 8.7839C3.58887 7.47198 4.36372 6.32545 5.34468 5.34431C6.32582 4.36336 7.47397 3.5885 8.78914 3.01975C10.1043 2.451 11.5097 2.16663 13.0052 2.16663C14.5006 2.16663 15.9043 2.451 17.2164 3.01975C18.5283 3.5885 19.6748 4.36336 20.656 5.34431C21.6369 6.32545 22.4118 7.47216 22.9805 8.78444C23.5493 10.0969 23.8337 11.4993 23.8337 12.9916C23.8337 14.4837 23.5493 15.8888 22.9805 17.2068C22.4118 18.5249 21.6369 19.6745 20.656 20.6556C19.6748 21.6366 18.5281 22.4114 17.2158 22.9802C15.9034 23.5489 14.501 23.8333 13.0087 23.8333ZM13.0003 22.0276C13.9813 22.0276 14.9292 21.8847 15.8441 21.5989C16.759 21.3131 17.6407 20.8421 18.4893 20.186C17.6407 19.5782 16.756 19.1133 15.8351 18.7912C14.9143 18.4693 13.9694 18.3083 13.0003 18.3083C12.0313 18.3083 11.0863 18.4693 10.1655 18.7912C9.24468 19.1133 8.35996 19.5782 7.51135 20.186C8.35996 20.8421 9.2417 21.3131 10.1566 21.5989C11.0715 21.8847 12.0194 22.0276 13.0003 22.0276ZM13.0003 12.0973C13.566 12.0973 14.0294 11.9167 14.3905 11.5556C14.7516 11.1945 14.9322 10.731 14.9322 10.1651C14.9322 9.59947 14.7516 9.13607 14.3905 8.77496C14.0294 8.41385 13.566 8.23329 13.0003 8.23329C12.4346 8.23329 11.9713 8.41385 11.6101 8.77496C11.249 9.13607 11.0685 9.59947 11.0685 10.1651C11.0685 10.731 11.249 11.1945 11.6101 11.5556C11.9713 11.9167 12.4346 12.0973 13.0003 12.0973Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
header .tnb .global button {
    display: block;
    width: 26px;
    height: 26px;
    font-size: 0;/*글자 지우고 아이콘으로 대체*/
    min-height: 0;
    position: relative; /*before의 기준*/
}

header .tnb .global button::before {
    content: "";
    position: absolute;/*a를 기준으로*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='26' viewBox='0 0 26 26' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.0003 23.8333C11.4958 23.8333 10.0844 23.5489 8.76639 22.9802C7.44833 22.4114 6.30027 21.638 5.3222 20.6599C4.34413 19.6821 3.57379 18.531 3.01118 17.2068C2.44839 15.8828 2.16699 14.4685 2.16699 12.9639C2.16699 11.4532 2.44839 10.0434 3.01118 8.73434C3.57379 7.42531 4.34413 6.28176 5.3222 5.30369C6.30027 4.3258 7.44833 3.55844 8.76639 3.00161C10.0844 2.44495 11.4958 2.16663 13.0003 2.16663C14.511 2.16663 15.9239 2.44495 17.2389 3.00161C18.5539 3.55844 19.7004 4.3258 20.6785 5.30369C21.6565 6.28176 22.4269 7.42531 22.9895 8.73434C23.5523 10.0434 23.8337 11.4532 23.8337 12.9639C23.8337 14.4685 23.5523 15.8828 22.9895 17.2068C22.4269 18.531 21.6565 19.6821 20.6785 20.6599C19.7004 21.638 18.5539 22.4114 17.2389 22.9802C15.9239 23.5489 14.511 23.8333 13.0003 23.8333ZM13.0003 22.0458C13.5781 21.3958 14.0656 20.6736 14.4628 19.8791C14.86 19.0847 15.1851 18.1699 15.4378 17.1348H10.581C10.8217 18.1217 11.1406 19.0214 11.5378 19.8339C11.935 20.6464 12.4225 21.3837 13.0003 22.0458ZM10.5268 21.6848C10.1175 21.0286 9.76387 20.329 9.46595 19.5858C9.16804 18.8425 8.91977 18.0255 8.72116 17.1348H4.94764C5.57958 18.2903 6.32735 19.2232 7.19095 19.9333C8.05455 20.6434 9.1665 21.2272 10.5268 21.6848ZM15.492 21.6666C16.6958 21.2815 17.7746 20.7007 18.7285 19.9244C19.6823 19.148 20.4572 18.2181 21.053 17.1348H17.2976C17.0869 18.0134 16.8356 18.8243 16.5436 19.5677C16.2519 20.311 15.9013 21.0107 15.492 21.6666ZM4.27949 15.3291H8.37801C8.32385 14.8837 8.28927 14.4729 8.27428 14.0968C8.2593 13.7207 8.25181 13.3431 8.25181 12.9639C8.25181 12.5366 8.26228 12.1468 8.28322 11.7948C8.30435 11.4427 8.34199 11.062 8.39616 10.6526H4.27949C4.1652 11.062 4.08549 11.4397 4.04035 11.7858C3.99521 12.1318 3.97264 12.5245 3.97264 12.9639C3.97264 13.4032 3.99521 13.805 4.04035 14.1691C4.08549 14.5331 4.1652 14.9198 4.27949 15.3291ZM10.2197 15.3291H15.7988C15.8651 14.8357 15.9088 14.4129 15.9299 14.0608C15.9509 13.7087 15.9613 13.3431 15.9613 12.9639C15.9613 12.5967 15.9509 12.2431 15.9299 11.9031C15.9088 11.5631 15.8651 11.1463 15.7988 10.6526H10.2197C10.1536 11.1463 10.11 11.5631 10.0889 11.9031C10.0677 12.2431 10.0572 12.5967 10.0572 12.9639C10.0572 13.3431 10.0677 13.7087 10.0889 14.0608C10.11 14.4129 10.1536 14.8357 10.2197 15.3291ZM17.6045 15.3291H21.7212C21.8355 14.9198 21.9152 14.5331 21.9603 14.1691C22.0054 13.805 22.028 13.4032 22.028 12.9639C22.028 12.5245 22.0054 12.1318 21.9603 11.7858C21.9152 11.4397 21.8355 11.062 21.7212 10.6526H17.6226C17.6768 11.1943 17.7144 11.6352 17.7353 11.9754C17.7564 12.3154 17.767 12.6449 17.767 12.9639C17.767 13.355 17.7535 13.7266 17.7264 14.0787C17.6993 14.4308 17.6587 14.8476 17.6045 15.3291ZM17.2795 8.84727H21.053C20.4814 7.71573 19.7185 6.76177 18.7645 5.98538C17.8106 5.20899 16.7137 4.65224 15.4738 4.31515C15.8832 4.95919 16.2338 5.64683 16.5258 6.37809C16.8175 7.10933 17.0688 7.9324 17.2795 8.84727ZM10.581 8.84727H15.456C15.2512 7.94449 14.9353 7.07783 14.5081 6.24727C14.0807 5.41672 13.5781 4.66434 13.0003 3.99015C12.4587 4.53181 11.9982 5.18488 11.6191 5.94936C11.2399 6.71365 10.8939 7.67962 10.581 8.84727ZM4.94764 8.84727H8.73931C8.92582 7.96851 9.16199 7.16648 9.44781 6.44119C9.73381 5.71608 10.0874 5.01345 10.5087 4.33329C9.26878 4.67039 8.18094 5.22108 7.24512 5.98538C6.3093 6.74967 5.54347 7.70363 4.94764 8.84727Z' fill='white'/%3E%3C/svg%3E%0A");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.visual {
    height: 1080px;
    background: url(..//images/visual_bg.jpg) no-repeat center center / cover;
    color: #ffff;
    text-align: center;
}
.visual h2 {
    font-family: 'Gmarket Sans';
    font-size: 45px;
    font-weight: 700;
    padding: 507px 0 0 0;
}