/* 웹폰트 파일을 이용해서 웹폰트의 이름과 두께 등을 선언 */
/* local 만약 당신의 컴퓨터에 서체가 깔려있다면 그걸 먼저 사용해라 뜻 */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 600;
	font-display: swap;
	src: local('NanumSquareNeoVariable'), url(../fonts/NanumSquareNeo-Variable.woff2) format('otf'), url(../fonts/NanumSquareNeo-Variable.woff) format('woff');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 900;
	font-display: swap;
	src: local('NanumSquareNeoHeavy'), url(../fonts/NanumSquareNeoTTF-eHv.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-eHv.woff) format('woff');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 700;
	font-display: swap;
	src: local('NanumSquareNeoExtraBold'), url(../fonts/NanumSquareNeoTTF-dEb.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-dEb.woff) format('woff');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 500;
	font-display: swap;
	src: local('NanumSquareNeoBold'), url(../fonts/NanumSquareNeoTTF-cBd.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-cBd.woff) format('woff');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 300;
	font-display: swap;
	src: local('NanumSquareNeo'), url(../fonts/NanumSquareNeoTTF-bRg.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-bRg.woff) format('woff');
}

@font-face {
	font-family: 'NanumSquareNeo';
	font-weight: 100;
	font-display: swap;
	src: local('NanumSquareNeoLight'), url(../fonts/NanumSquareNeoTTF-aLt.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}




/*영문폰트*/

/*
@font-face {
	font-family: 'Montserrat';
	font-weight: 900;
	font-display: swap;
	src: local('Montserrat-Black'), url(../fonts/Montserrat-Black.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 800;
	font-display: swap;
	src: local('Montserra-ExtraBold '), url(../fonts/Montserrat-ExtraBold.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 700;
	font-display: swap;
	src: local('Montserra-Bold '), url(../fonts/Montserrat-Bold.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 600;
	font-display: swap;
	src: local('Montserrat-SemiBold'), url(../fonts/Montserrat-SemiBold.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 500;
	font-display: swap;
	src: local('Montserrat-Medium'), url(../fonts/Montserrat-Medium.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 400;
	font-display: swap;
	src: local('Montserrat-Regular'), url(../fonts/Montserrat-Regular.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 300;
	font-display: swap;
	src: local('Montserrat-Light'), url(../fonts/Montserrat-Light.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 200;
	font-display: swap;
	src: local('Montserrat-ExtraLight'), url(../fonts/Montserrat-ExtraLight.woff2) format('woff2'), url(../fonts/NanumSquareNeoTTF-aLt.woff) format('woff');
}


@font-face {
	font-family: 'Montserrat';
	font-weight: 100;
	font-display: swap;
	src: local('Montserrat-Thin'), url(../fonts/Montserrat-Thin.woff2) format('woff2')
}*/