@import url(default.css);
@import url(font.css);
@import url(common.css);
@import url(layout.css);

.allpage {
  display: flex;
  align-content: center;
  align-items: center;
  height: 100vh;
}
.allpage .photo .img {
  max-width: 100%;
  height: auto;
}