@import url(default.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #3d3d3d;
    line-height: 1.4;
    letter-spacing: -0.05em; /*글자크기 하나가 1em임*/
    word-break: keep-all; /*단어(여백을기준으로)별로 줄바꾸기*/
    word-wrap: break-word;
    /*단어가 너무 길어서 줄바꿈이 안될때 강제로 줄바꿈
      word-break: keep-all로 생기는 오류 수정,생긴지 얼마 안된 기능이라 일부 적용안됨  */
}
.wrapper {
    width: 1260px;
    margin: 0 auto;
}
#wrap {
    min-width: 1300px;
    margin: 0 auto;
    /*브라우저의 최소 넓이를 지정
     - 작은 브라우저에서 가로 스크롤이 생기면 배경이 짤려서
     wrapper에서 지정한 width에 좌우 여백 20xp씩 준 값
     1260 + 40 = 1300*/
}
header {
    height: 100px;
}
header .wrapper{
    display: flex;
    justify-content: space-between;
}
header .logo {
    margin: 30px 0 10px 0;
}
header .gnb ul {
    display: flex;
}
header .gnb ul a {
    display: block;
    font-size: 22px;
    padding: 30px 26px 30px 26px;
}
/**************************visual*******************************/

.visual {
    background: url(../images/visual_bg.png) no-repeat center center;
    height: 660px;
    color: #ffff;
    text-align: right;
}
.visual h2 {
    font-size: 65px;
    padding: 229px 0 2px 0;
}

/*****************biz*******************/

.biz .tit {
    text-align: left; 
    margin: 100px 0 30px 0;
}

.biz .tit h2 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 700;
}
.biz .tit em {
    color: #484F6E;
}
.biz .list ul {
    display: flex;
    justify-content: space-between;
}
.biz .list ul li {
    width: 297px;

}
.biz .list ul li a {
    display: block;
    text-align: center;
}
.biz .list ul li a .inner {
    margin: 0 20px 0 20px;
}

.biz .list ul li h3 {
    color: #1d1d1d;
    font-size: 45px;
    font-weight: 700;
}
.biz .list ul li a .more {
    display: block;
    border: 2px solid #3d3d3d;
    padding: 8px 30px;
    margin: 12px 0 0 0;
}
.biz .list ul li .more:hover {
    color: #ffff;
    display: block;
    border: 2px solid #484F6E;
    background: #484F6E;
    padding: 8px 30px;

}
/*******************************brand*******************************/


.brand {
    margin: 157px 0 0 0;
    height: 660px;
    background: url(../images/vadim-babenko-4c8b8Ei6M3Q-unsplash.png) no-repeat center center / cover;
    color: #fff;
}
.brand h2 {
    font-weight: 800;
    font-size: 40px;
    padding: 62px 0 12px 0;
}
.brand p {
    width: 490px;
}




body {
    margin-bottom: 500px;
}
